html,
body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 12px;
}

.index-bar li {
    display: block;
    float: right;
    padding: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    padding-top: 109px;
    text-align: center;
}

#profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.home-link {
    padding-top: 20px;
}

.search {
    text-align: center;
}

.search-nav {
    display: inline-block;
    /*esto*/
    padding-right: 300px;
}

.search input {
    width: 400px;
    height: 30px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 10px;
}

.search-principal {
    text-align: center;
}

.search-principal input {
    width: 400px;
    height: 30px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 10px;
    
    
}

.index-bar {
    display: flex;
    align-items: center;
    justify-content: end;
}

.search-nav input {
    width: 600px;
}

.search-buttons {
    text-align: center;
    padding-top: 25px;
}

.search-buttons button {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    
}

.search-google-logo {
    width: 100px;
    padding-top: 5px;
}

.searc button {
    background-color: rgb(238, 234, 234);
    height: 30px;
    width: 150px;
    border: none;
}

button:hover {
    border: solid 0.5px;
    border-radius: 5px;
    border-color: darkgrey;
}

.offered-by {
    text-align: center;
}

#footer {
    position: relative;
    bottom: -50px;
    left: 0px;
    margin-top: 200px;
    padding: 20px;
    height: 100px;
    width: 100%;
    clear: both;
    background: rgb(238, 234, 234);
    color: black;
}

#footer a {
    color: black;
}

#footer p {
    position: relative;
    padding-left: 45px;
    font-size: 12px;
}

#footer p a {
    color: black;
}

#footer li {
    display: block;
    float: right;
    padding: 5px;
}

#footer .left {
    float: left;
}

#footer .right {
    float: right;
}

hr {
    height: 0.5px;
    border: 0;
    background-color: darkgray;
}

.search {
    position: absolute;
    top: 10px;
    left: 190px;
    margin-top: 10px;
}

.search-google-logo {
    margin-top: 10px;
}

.top-bar li {
    display: inline;
    float: left;
}

.top-bar li a {
    display: block;
    padding: 8px;
    height: 30px;
}

.google-bar {
    padding-top: 70px;
    padding-left: 120px;
    font-size: 14px;
}

.google-bar li {
    display: inline;
    float: left;
    padding-left: 15px;
    margin-top: 10px;
}

.google-bar button {
    background-color: white;
    font-size: 14px;
    margin-top: 0px;
}

.google-bar li a {
    display: block;
    padding: 8px;
    height: 30px;
}

.top-bar #app-simulator {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 60px;
}

.top-bar #profile-pic {
    position: absolute;
    right: 10px;
}

.list-menu {
    padding-top: 5px;
}

.results-number {
    float: left;
    padding-left: 140px;
}

.result {
    position: relative;
    float: left;
    margin-right: 150px;
    top: 10px;
    
}

.result h2 {
    margin-top: 20px;
}

.results-bar li {
    display: inline-block;
    float: left;
    padding-left: 5px;
}

.google-bar li button {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.google-bar li {
    padding-top: 5px;
}

.bottom-bar {
    padding-left: 80px;
}

.results-number a img{
    margin-top: 20px;
    height: 50px;
}

.results-bar{
    margin-top: 5px;
    padding-left: 60px;
}