html,body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 12px;
}

li {
    display: block;
    float: right;
    padding: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
 
}

.logo {
    padding-top: 109px;
    text-align: center;
}

#profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search {
    text-align: center;
}

.search input {
    width: 300px;
    height: 30px;
    border-radius: 5%;
}

.search-buttons {
    padding-top: 25px;
    text-align: center;
}

button {
    background-color: rgb(238, 234, 234);
    height: 30px;
    width: 150px;
    border: none;
}

button:hover {
    border: solid 0.5px;
    border-radius: 5px;
    border-color: darkgrey;
}

.offered-by {
    text-align: center;
}

#footer {
    position: absolute;
   
    bottom: 5px;;
    margin: 0;
    height: 100px;
    width: 100%;
    padding-bottom:15px;
    clear: both;
    background: rgb(238, 234, 234);;
    color: darkgray;
}

#footer p {
    position: relative;
    float:top;
    padding-left: 45px;
}

#footer .left{
    float: left;
}

#footer .right {
    float: right;
}

hr {
    height: 0.5px;
    border: 0;
    background-color: darkgray;
}



